<div class="container">
    <div>
        <img class="img-responsive" src="/images/promo/1024.png"/>
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Marvel Vs Capcom 2: Move List</h1>
    <p class="lead">The perfect guide to help you win your next battle on Marvel vs Capcom 2 Arcade Edition! This has the move list for
    every available character in the game!</p>
  </div>
</div>
    </div>
    <div class="row text-center" style="margin:0 auto;">
        <div class="col-lg-3 col-md-4 col-xs-6"><img src="/images/promo/shot1.png" class="img-thumbnail img-fluid"></div>
        <div class="col-lg-3 col-md-4 col-xs-6"><img src="/images/promo/shot2.png" class="img-thumbnail img-fluid"></div>
        <div class="col-lg-3 col-md-4 col-xs-6"><img src="/images/promo/shot3.png" class="img-thumbnail img-fluid"></div>
    </div>
    <div class="text-center row">
        <a href="#"><img src="/images/promo/app-store.png" class="img-fluid"/></a>
        <a href="https://play.google.com/store/apps/details?id=dalvindigital.marvelandcapcom"><img src="/images/promo/google-play.png" class="img-fluid"/></a>
        <p>Coming Soon To IOS Store</p>
    </div>
</div>